/* =CSS DIRECTORY=
		. =GLOBAL=
		. =HEADER=
		. =GENERAL=
		. =GALLERY=
		. =ANIMATIONS=
		.
*/

/* =COLORS=

*/

/* -^-^-^-^- =GLOBAL= -^-^-^-^- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 0;
}

p {

}

footer {
	position: absolute;
	bottom: 0;
	padding-left: 32px;
}

/* -v-v-v-v- =GLOBAL= -v-v-v-v- */

/* -^-^-^-^- =GENERAL= -^-^-^-^- */

.canvas {
	display: block;
	/*position: absolute;*/
	margin: auto;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}

.content {
	position: relative;
	max-height: 100%;
	max-width: 100%;
	padding-top: 32px;
}

/* -v-v-v-v- =GENERAL= -v-v-v-v- */

/* -^-^-^-^- =HEADER= -^-^-^-^- */

.header {
	margin: auto;
	padding: 32px;
}

.title {
	float: left;
	font-size: 1.6em;
	letter-spacing: 2px;
	text-decoration: none;
}

.navigation {
	margin: auto;
	float: right;
	max-width: 100%;
}

.navigation a {
	color: #1a1a1a;
	text-decoration: none;
	text-align: center;
	padding: 0 8px;
}

.navigation a.active {
	color: #808080;
}

/* -v-v-v-v- =HEADER= -v-v-v-v- */

/* -^-^-^-^- =SLIDESHOW= -^-^-^-^- */

.slideshow {

}

.slideshow-img {

}

/* -v-v-v-v- =SLIDESHOW= -v-v-v-v- */

/* -^-^-^-^- =GALLERY= -^-^-^-^- */

.gallery-grid {

}

.gallery {

}

.gallery-img {

}

.gallery-img-grid {

}

/* -v-v-v-v- =GALLERY= -v-v-v-v- */

/* -^-^-^-^- =ANIMATIONS= -^-^-^-^- */

.fade-in {
	animation: fade-in .2s ease-in forwards;
	-webkit-animation: fade-in .2s ease-in forwards;
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1.0}
}

.fade-out {
	animation: fade-out .2s ease-out forwards;
	-webkit-animation: fade-out .2s ease-out forwards;
}

@keyframes fade-out {
	from {opacity: 1.0}
	to {opacity: 0}
}

/* -v-v-v-v- =ANIMATIONS= -v-v-v-v- */

